:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f0f2f5;
}

.login-form {
  max-width: 300px;
  width: 100%;
  padding: 24px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &-margin {
    margin-bottom: 16px;
  }

  &-forgot {
    float: right;
  }

  &-button {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .login-form {
    max-width: 90%;
  }
}
