.welcome-message-container {
    height: 100%; /* Match row height for vertical centering */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
  }
  